
/*===========================3 УРОК=============================*/

/* Обнуляющий стиль */
/* створюємо окремий файл css */

/* _______________________________________________________________ */

/* Анатомія */

/* Селектор  - зверненя із style до обєктів html файли 
селектор {
	робоча область
	css параметри;
	css параметри;
	css параметри;
	css параметри;
	css параметри; 
}
*/
/* css параметри*/
/* css свойства : значення свойства ; 
/* css свойства : значення свойства ; 
/* css свойства : значення свойства ; 
*/

/* ______________________________________________________________ */

/* СЕЛЕКТОРИ */

/* Селектор тега */
p {
	/* звернулися до всіх тегів p на сторінці */
	/* color: red; */
}
span {
	/* color: green; */
	/* звернулися до всіх тегів span на сторінці */
}

/* Селектор класа, починається з точки* */
/* 
 .імя класа {
   css параметр 
	...
	css параметр
	}
	*/
.text {
	/* звернулись до всіх обєктів на сторінці з класом text */
	/* color: red; */
}
/* .paragraph { */
/* звернулись до всіх обєктів на сторінці з класом paragraph */
/* } */

/* ____________________________________________________________ */

/* Селектор ID */
/* 
#імя id{
	css параметр;
	...
	css параметр;
}
*/
#block {
	/* # бо id унікальний і неповторний */
	/* color: green; */
}

/* _______________________________________________________________ */

/* Пріоритет */

/* 1. Порядок запису при рівнозначних селектарах */
p {
	/* color: red; */
}
/* цей має пріоритет (внизу) */
p {
	/* color: green; */
}

.text {
	/* color: red; */
}
/* цей шо нижче пріоритетний за попопередній */
.text {
	/* color: green; */
}
/* цей пріоритетний за попопередній */
.paragraph {
	/* color: red; */
}

/* _______________________________________________________________ */

/* УТОЧНЕННЯ */
/* 2. Селектор класа пріоритетніший за селектор тега (тобто якій бабулі дзвоним і в яку кімнату) */
/* цей пріоритетніший навіть якшо він не нижній */
.text {
	/* color: rgb(8, 245, 8); */
}
div {
	/* color: red; */
}

/* Селектор ID	- самий пріоритетний (при простих зверненнях)*/
#block {
	/* color: hotpink; */
}
.name {
	/* color: rgb(10, 245, 10); */
}
p {
	/* color: red; */
}

/* 3. Уточняєм звернення */
/* всі обєкти з тегом DIV, які містять клас TEXT */
div.text {
	/* color: rgb(1, 240, 1); */
}
/* всі обєкти з які містять клас TEXT */
.text {
	/* color: red; */
}

/* ______________________________________________________________ */

/* Комбінація селекторів класів */

#block {
	/* color: hotpink; */
}

/* Всі обєкти з класами text і paragraph	ОДНОЧАСНО */
/* цей пріоритетний, чим більше класів тим більший пріоритет*/
.name.paragraph {
	/* color: rgb(7, 252, 7); */
}
/* block__text ВСЕРЕДИНІ block (тут пробіл має бути і має велике значення */
.block .block__text {
}
.name {
	/* color: red; */
}

/* ______________________________________________________________ */

/* Вставки і пріеритетність */

span {
	/* color: red; */
}
/* відноситься до всіх span, які знаходятться у p */
/* синтекс із пробілом* */
/* цей шо нижче пріоритетний (бо уточнює) */
p span {
	/* color: rgb(3, 247, 3); */
}

/* ______________________________________________________________ */

/* Пріоритетність по спаданню */

/* пріоритетніцсть БОГ */
/* #id */

/* Пріоритетність №1 */
/* .клас .клас (p з пробілом бо є велика різниця!*) */

/* Пріоритетність №2 */
/* .клас тег */

/* Пріоритетність №3 */
/* тег тег */

/* Пріоритетність №4 */
/* тег */

/* Частіше всього ми будемо використовувати селектор одного класа без вставок */

/* Приклад */
.text {
}

/* _______________________________________________________________ */

/* Селетори атрибутів */

/* Використовуємо селектор атрибутів */

/* регулярний вираз */
/* часто використовується і означає зверення до всіх класів, які "містять" напис "__text"*/
[class*="__next"] {
	/* color: red; */
}

/* ______________________________________________________________ */

/* Комплексні селектори */
/* Перечислення */
/* 
    селектор,селектор,... {
     css параметр
	 }
*/
.about__text,
.block__text {
	/* color: red; */
	/* font-size: 14px; */
}

/* цей запис зверху теж саме що і знизу тільки оптимізоване */

.about__text {
	/* color: red; */
}
.block__text {
	/* color: red; */
}

/* тілький перший рівень вставки */

.section > p {
	/* color: red; */
}

/* Звернення тільки до першого наступного обєкта того ж рівня 
*/
.next__text + p {
	/* color: red; */
}
/* Звернення до всіх наступних обєктів того же рівня */

.next__text ~ p {
	/* color: red; */
}

/* Загальний селектор */
* {
	/* color: red; */
}
/* звернення до всіх і всього, звернення до всіх тегів на стор з будь-якими класами */




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==========================4 УРОК ==============================*/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */






/* display=swap (робота з плагіном goole font)*/

@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap");

/* Скачування шрифтів 
формат шрифтів: 
TTF - не зжатий файл шрифтів (можна установити собі на комп, для верстки не потрібно устанавляювати;

WOFF - зжатий формат, формат для верстки;

WOFF2; */

body {
	font-family: "Lato:ital", sans-serif;
	font-size: 20px;
}
.title {
	font-family: "ital";
	font-size: 65px;
	font-weight: 100;
	color: red;
	font-style: italic;
}
p {
	font-weight: 100;
}

/* ==Властивості шрифта(наслідуються==============================*/

/* 
front-family: "імя шрифта",  "імя шрифта", ..., тип шрифта 
устанавлює сімейсто шрифта
типи шрифта:

serif - шрифти із засечками (антиквенние), типа Times;

sans-serif - рублені шрифти (шрифти без засечки або гротески),
типичний представник - Arial;

cursive - курсивні шрифти;

fantasy - декоративні шрифти;

monospace - моноширні шрифти;
в такому сімействі одинакова (шрифт courier)

Якщо імя шрифта має назву із двох і більше слів треба назву шрифта ставити у кавички...наприклад ("Time new romans") взагалі краще ставити кавички завжди
*/

/* _________________________________________________ */

/* font-size
визначає розмір шрифта елементами
по замовчуванню 16px */

/* __________________________________________________ */

/* font-style
Визначає начертание шрифта - звичний/обичний, курсивний або наклон.

normal - звичайне начертаніє текста.

oblique - наклонне начіртаніє. Курсив і наклонний
шрифт при всій його схожості не одно і теж.

Курсив це спеціальний шрифт імутуючий рукописнний,
наклонний виникає шляхом наклона звичайних знаків вправо.
 */

/*_________________________________________________ */

/* font-weight:
 Встановлює нисиченість шрифта 
 100 - thin
 300 - lite
 400 - normal
 500 - medium
 600 - semibold
 700 - bold
 900 - black
 */

/* ===========Властивості текста============== */

/* color (наслідується)
визначає колір текста. для визначення кольорів зазвичай використовують числа в шістнадцятизначному коді або за допомогою RGB.
*/

.text {
	/* color: rgba(255, 66, 66, 0.9); */
}

/* __________________________________________________ */
/* 
text-align
Визначає горизонтальне вирівнювання текста і строчних обєктів у межах елемента. 

center - вирівнювання текста по-центру.

justify - Вирівнювання по-ширині, що означає одночасне вирівнювання

left - Вирівнювання текста по лівому краю
right - Вирівнювання текста по правому краю
*/

.text {
	/* text-align: justify; */
}

/* __________________________________________________ */

/* text-decoration (наслідується)
Додає оформлення текста у виді його підкреслення, перечкреслення, лінії над текстом і мерцання.
Одночасно можна використати більше одного стиля, перерахувавши стилі через кому.

line-thruogh - створює перекреслений текст.

overline - лінія проходить над текстом

underline - вставлює підкреслений текст

none - відміняє всі ефекти в тому числі підкреслення у силок
*/

.text {
	/* text-decoration: underline; */
}

/* __________________________________________________ */

/* text-shadow (наслідується)
горизонтальне зміщення, веритикальне зміщення, тіні від тексту, можна ставити колір тіні, а також можна накладати багато тіней 

Приклад: text-shadow: 1px(hoff) 1px(voff) 1px(blur) #000;
де hoff це горизонтальне зміщення
де voff це вертикальне зміщення
де blur це розмитість(прозорість) тіні
знак "-" змінює напрямок тіні
*/

.text {
	/* text-shadow: 10px -10px 10px rgba(206, 63, 63, 0.5); */
}

/* __________________________________________________ */

/* text-transform (наслідується)
перетворює текст у великі або малі букви.

capitalize - перший символ(буква) кожного слова будуть великі, інші юудуть маленькі.

lowercase - всі символи текста стають маленькими (нижній регістр)

uppercase - всі символи текста стають великими (верхній регістр).

none - не змінює регістр символів.
*/
.text {
	/* text-transform: uppercase; */
}

/* __________________________________________________ */

/* line-height (наслідується)
встановлює міжрядковий інтервал текста.
широко застосовуєтсья.
визначається інтеровал у відсотках, у пікселях і у пунктах.

як вирахувати потрібний інтервал текста якщо відомо що font-size 20px, а інтервал потрібен у 30px??
Рішення: інтервал у 30px потрібно перевести у % або у пункти (30px ділити на 20px = 1.5 пункта або 150%)
*/

.text {
	line-height: 1.5;
}

/* __________________________________________________ */

/* 
text-indent  
встановлює величину відступа першого рядка блока

latter-spacing	
встановлює інтервал мжі символами (буквами)

white-space 
встановлює інтервал між словами. використовується із значенням nщwrap, який забороняє перенос рядка.

ward-spacing	
встановлює інтервал між словами.
*/
