@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lora&family=Playfair+Display:wght@600&family=Roboto&family=Source+Serif+4:wght@200&family=Syne+Tactile&display=swap");
body {
	font-family: "Lato";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	text-align: justify;
}
.main {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1e212c;
}
.p1,
.p4 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.li {
	line-height: 2.5;
	word-spacing: 7px;
	letter-spacing: 2px;
	text-indent: 50px;
}
