@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
	font-family: "lato";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #424551;
}
h1 {
	font-weight: 900;
	font-style: normal;
	font-size: 46px;
	line-height: 1.3;
}
p.bolt {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: left;
	color: #1e212c;
}
p {
	line-height: 1.63;
	text-align: left;
}
li {
	text-indent: 50px;
	line-height: 1.9;
}
